/* Eric Grant Kocharyan, Data Science 2022*/

/* CSS file used for home page. */

/* I Import a nicer font */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*TEXT*/

h1, h2, h3{
    font-family: 'Lora', sans-serif;
    background-color: white;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-variant: small-caps;
    color:blue;
    background-color: white;
}


/* AREAS OF THE PAGE */

/*Background*/

body{
    background-color: whitesmoke;
}




/* BUTTONS */

.MAIN_BUTTONS{
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content:left;
    list-style: none;
    min-width: 300px;
    width: 100%;
    margin-top: 60px ;
}


a{
    border: 5px;
    border-color: black;
    border-style: dashed;
    text-align: center; 
    margin:20px
}

#link1{
    background-color: crimson;

    padding:20px;
    
    border:2px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;
    width: 45%;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    
}


#link2{
    background-color: crimson;

    padding:20px;
    
    border:2px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    
}

#link2:hover{

    background-color: whitesmoke;

    border:2px;
    border-color:black;
    border-style: solid;
    
    color:black;
}


.PageBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: red;
    text-align: center;
}

