/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color:rgb(168, 0, 0);
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3{
    color:rgb(0, 0, 0);
    font-family:Trebuchet MS, sans-serif;
    text-align: center;
    font-weight:bold ;

}

h3{
    font-size:x-large;

}

p{
    color:rgb(0, 0, 0);
    font-family: Georgia;
    text-align:center ;
    font-size:medium;
    
}  


.myWeek1{
     margin: auto;
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    border-style:double;
    border-radius: 20px;
    border-width: 8px;
    border-color: rgb(0, 0, 0);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:480px;
    margin: 0px 0px 0pc 70px ;
    border-width: 9px;
    border-left: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);   
}