/* CSS file used for portfolio page. */

/* Imported some nice fonts */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


/* Top of Template of website */

body{
  background-color: paleturquoise;
  max-width: 1600px;
  margin: auto;
  text-align: center;
}


.TITLE_container {
  background-color: darkturquoise;
  text-align: center;
  margin: auto;
}   

.NAME_container {
  background-color: darkturquoise;
  text-align: center;
  margin: auto;
}


/* Customise the top navigation */
.TOP_NAV {
overflow: hidden;
display: flex;
background-color:rgb(0, 0, 0);
text-align: center;
justify-content:left;
list-style: none;
width: 100%;
min-width: 280px;
margin-top: 1em ;
}

/* Customise the links inside the navigation bar */
.TOP_NAV a {
  float: left;
  list-style-type: none;
  text-align: center;
  padding-top: clamp(0.5em,1%,1.5em);
  padding-bottom: clamp(0.5em,1%,1.5em);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  color:white;
  cursor: pointer;
  width: 25%;
}

/* Change the color of links while hovering */
.TOP_NAV a:hover {
  background-color: #ddd;
  color: black;
}

/* Change color to the active/current link */
.TOP_NAV a.active {
  background-color: aquamarine;
  color: black;
}


/* Choose the appearance of the tags, h1 to h5 and p: */
h1{
  color:black;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 66px;
  text-align: center;
  margin: 20px 0px;
}
h2{
color:black;
font-family: 'Work Sans', sans-serif;
text-align: center;
font-size: 35px;


}  

h3{
color:black;
font-family: 'Work Sans', sans-serif;
font-size: 70px;
text-align: center;
margin: 20px 0px;
}

h4{
color: black;
font-family: 'Work Sans', sans-serif;
text-align: center;
font-size: 32px;
}

h5{
color: black;
font-family: 'Work Sans', sans-serif;
text-align: center;
font-size: 26px;
}

p{
color:rgb(17, 17, 17);
font-family: 'Work Sans', sans-serif;
text-align: center;
font-size: 20px;
max-width: 70%;
margin: 0 auto;
margin-bottom: 20px;

}

.BODY_container{
  margin: auto;
}


/* Set the apperance of the classes, and individual charts */
.chart{
    background-color: rgb(255, 255, 255);
    width:auto;
    margin: auto ;
    border-width: 2px;
    border-left: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);   

    
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;  /* specify 3 columns */
  grid-gap: 0px;  /* specify a gap value here */
  justify-items: center;  /* center the items along the x-axis */
  margin: auto;
  max-width: 900px;
}

    
  
  #Chart17{
    background-color: rgb(255, 255, 255);
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    text-align: center;
    margin: auto;
    

}

#Chart18{
  background-color: rgb(255, 255, 255);
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  text-align: center;
  margin: auto;
    
  }

  #Chart19{
    background-color: rgb(255, 255, 255);
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    text-align: center;
    margin: auto;
    
  }

  #Chart20{
    background-color: rgb(255, 255, 255);
    width:auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0); 
    text-align: center;  
    margin: auto ;
    
  }









/*FOOTER */
.PageBottom {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkturquoise;
  color: black;
  text-align: center;
}



/* Override certain properties for small screen sizes (e.g. smartphones) */
@media (max-width: 600px) {
  body{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

  
  .chart{
      width:auto;
      margin: 0px 0px 0pc 20px ;
      border-width: 2px;
      border-left: 2px;
      border-style: none;

  
      
  }
  .grid-container {
    display: grid;
    max-width: 1000px; 
    grid-column-gap: 1px;
    grid-row-gap: 3px;
    grid-template-columns: repeat(1,1fr);
}

    #Chart17{
      margin: 0 auto;
      border-style: none;
      width:auto;

  }
  
  #Chart18{
      margin: 0 auto;
      border-style: none;
      width:auto;

    }
  
    #Chart19{
      margin: 0px 0px 0pc 20px ;
      border-width: 2px;
      border-left: 2px;
      border-style: none;
      width:auto;

    }
  
    #Chart20{
      margin: 0px 0px 0pc 20px ;
      border-width: 2px;
      border-left: 2px;
      border-style: none;
      width:auto;

    }

    #Chart21{
      margin: 0 auto;
      width: 510px;
    
    }
    

    h1{
      font-size: 32px;
  }
  h2{
    font-size: 20px;
  
  
  }  
  
  h3{
    font-size: 34px;
    margin: 10px 0px;
  }
  
  h4{
    font-size: 19px;
  }
  
  h5{
    font-size: 15px;
  }
  
  p{
    font-size: 14px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  
  }

.TOP_NAV a {
  font-size:10px;
}

}


/*

  .PAGE_BUTTONS a{
    width: 25%;
    margin:20px;
    margin: auto;  

}  

#link1{
  font-size: 10px;
  font-weight: 500;
  width:fit-content;
  }
*/



  /* 
  
  ------------- code for buttons if needed later on.......(e.g links to colab/website/databases/json/etc ----------- 

.PAGE_BUTTONS a{
    display: block;
    text-align: center;
    width: 15%;
    margin:20px;
    margin: auto;  

}  

#link1{
background-color: black;
font-family: 'Work Sans', sans-serif;
border: 1px;
border-color: whitesmoke;
border-style: solid;
border-radius: 5px;
color: white;
padding: 11px 70px;
text-align: center;
font-size: 16px;
font-weight: 700;
margin: auto;
opacity: 0.8; 
transition: 0.35s;
text-decoration: none;
cursor: pointer;  
}

#link1:hover{

    background-color: white;

    border:2px;
    border-color:darkturquoise;
    border-style: solid;
    color:black;

}



----------------------------------------------

*/

