/* CSS file used for portfolio page. */

/* Imported some nice fonts */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


/* Top of Template of website */

body{
  background-color: paleturquoise;
  max-width: 1600px;
  margin: auto;
  text-align: center;
}


.TITLE_container {
  background-color: darkturquoise;
  text-align: center;
  margin: auto;
}   

.NAME_container {
  background-color: darkturquoise;
  text-align: center;
  margin: auto;
}


/* Add a black background color to the top navigation */
.TOP_NAV {
overflow: hidden;
display: flex;
background-color:rgb(0, 0, 0);
text-align: center;
justify-content:left;
list-style: none;
width: 100%;
min-width: 280px;
margin-top: 1em ;
}

/* Style the links inside the navigation bar */
.TOP_NAV a {
  float: left;
  list-style-type: none;
  text-align: center;
  padding-top: clamp(0.5em,1%,1.5em);
  padding-bottom: clamp(0.5em,1%,1.5em);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  color:white;
  cursor: pointer;
  width: 25%;
}

/* Change the color of links on hover */
.TOP_NAV a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.TOP_NAV a.active {
  background-color: aquamarine;
  color: black;
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:black;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 66px;
    text-align: center;
    margin: 20px 0px;
}
h2{
  color:black;
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
  text-align: center;
  margin: 20px 0px;


}  

h3{
  color:black;
font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

h4{
  color: black;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

p{
  color:rgb(17, 17, 17);
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 22px;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;

}


.BODY_container{
  margin: auto;
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:auto;
    margin: auto ;
    border-width: 2px;
    border-left: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);   

    
}

#Chart1{
  margin: 0 auto;
  border-style: none;
  width:auto;

}





/*   ----------specific graphs here------- */







/*FOOTER */
.PageBottom {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkturquoise;
  color: black;
  text-align: center;
  margin: auto;
}



/* Override certain properties for small screen sizes (e.g. smartphones) */
@media (max-width: 600px) {
    body{
      max-width: 480px;
      margin: 0 auto;
      padding: 0 20px 20px 20px;
    }
  
    
    .chart{
        width:auto;
        margin: 0px 0px 0pc 20px ;
        border-width: 2px;
        border-left: 2px;
        border-style: none;

    }

  
    h1{
  font-size: 32px;
  
    }
  
    h2{
      color:black;
      font-family: 'Work Sans', sans-serif;
      font-size: 29px;
      text-align: center;
      margin: 10px 0px;
  
  
  }  
  
  h3{
      color:black;
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      font-size: 22px;
  }
  
  h4{
      color: black;
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      font-size: 19px;
  }
  
  p{
      color:rgb(17, 17, 17);
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      font-size: 15px;
      max-width: 75%;
      margin: 0 auto;
      margin-bottom: 20px;
  
  }
  .TOP_NAV a {
    font-size:10px;
  }
  
  /*
  
  .BUTTON a{
    width: 30%;
    margin:20px;
    margin: auto;  
  }
  */
  
  }
  
    /*  code for buttons (e.g links to colab/website/databases/json/etc  
  
    .BUTTON a{
      display: block;
      text-align: center;
      width: 15%;
      margin:20px;
      margin: auto;  
  
  }  
  
  
  #link1{
      background-color:black;
  
      padding:20px;
      
      border:1px;
      border-color:whitesmoke;
      border-style: solid;
      border-radius: 10px;
  
      font-family: 'Work Sans', sans-serif;
      font-weight:700;
      color:white;
      
      text-decoration: none;
  }
      
  
  #link1:hover{
  
      background-color: white;
  
      border:2px;
      border-color:darkturquoise;
      border-style: solid;
      
      color:black;
  
  
  
  
  */
  
  